@mixin rowClasses($name) {

	&.stretch-on-#{ $name } { align-items: stretch; }
	&.top-on-#{ $name } { align-items: flex-start; }
	&.middle-on-#{ $name } { align-items: center; }
	&.bottom-on-#{ $name } { align-items: flex-end; }

	&.left-on-#{ $name } { justify-content: flex-start; }
	&.center-on-#{ $name } { justify-content: center; }
	&.right-on-#{ $name } { justify-content: flex-end; }
	&.around-on-#{ $name } { justify-content:space-around; }
	&.between-on-#{ $name } { justify-content: space-between; }

	&.ltr-on-#{ $name } { flex-direction: row; }
	&.rtl-on-#{ $name } { flex-direction: row-reverse; }

}

@mixin columnClasses($name) {

	&.#{ $name }-auto {
		flex: 1 1 0px;
	}

	@for $i from 1 through $columns {

		&.#{ $name }-#{ $i } {
			flex: 0 1 auto;
			width: percentage(1/$columns)*$i;
		}

		&.#{ $name }-offset-#{ $i } {
			margin-left: percentage(1/$columns)*$i;
		}

		&.#{ $name }-pull-#{ $i } {
			left: auto;
			right: percentage(1/$columns)*$i;
		}

		&.#{ $name }-push-#{ $i } {
			right: auto;
			left: percentage(1/$columns)*$i;
		}

	}

	&.first-on-#{ $name } { order: -1; }
	&.last-on-#{ $name } { order: 1; }
	&.origin-on-#{ $name } { order: 0; }

	&.hide-on-#{ $name } { display: none; }
	&.show-on-#{ $name } { display: block; }

}