@mixin rowClasses($name) {

	&.flex-on-#{ $name } { display: flex; }
	&.block-on-#{ $name } { display: block; }

	&.flex-on-#{ $name }::before,
	&.flex-on-#{ $name }::after {
		display: none;
	}

	&.stretch-on-#{ $name } { align-items: stretch; }
	&.top-on-#{ $name } { align-items: flex-start; }
	&.center-on-#{ $name } { align-items: center; }
	&.bottom-on-#{ $name } { align-items: flex-end; }

	&.ltr-on-#{ $name } { flex-direction: row }
	&.rtl-on-#{ $name } { flex-direction: row-reverse; }

}

@mixin columnClasses($name) {

	@for $i from 1 through $columns {
		&.#{ $name }-#{ $i } { width: percentage(1/$columns)*$i; }
		&.#{ $name }-offset-#{ $i } { margin-left: percentage(1/$columns)*$i; }
		&.#{ $name }-pull-#{ $i } { left: auto; right: percentage(1/$columns)*$i; }
		&.#{ $name }-push-#{ $i } { right: auto; left: percentage(1/$columns)*$i; }
	}

	&.hide-on-#{ $name } { display: none; }
	&.show-on-#{ $name } { display: block; }

}