.row {

	margin: 0 auto;
	width: 100%;
	max-width: $maxWidth;

	&::before,
	&::after {
		content: ' ';
		display: table;
	}

	&::after {
		clear: both;
	}

	@each $sizeName, $size in $sizes {
		@media (min-width: $size) { @include rowClasses($sizeName) }
	}

	.row {
		margin: 0 $gutter/-2;
		width: auto;
		max-width: none;
	}

	.column {
		float: left;
		position: relative;
		box-sizing: border-box;
		padding: 0 $gutter/2;
		width: 100%;

		&:last-child {
			float: right;
		}

		@each $sizeName, $size in $sizes {
			@media (min-width: $size) { @include columnClasses($sizeName) }
		}
	}

}