$basicGrid__columns: 12 !default;
$basicGrid__width: 1280px !default;
$basicGrid__gutter: 1.8rem !default;
$basicGrid__outer: 0 !default;

$basicGrid__sizes: (
	'small': 0,
	'medium': 640px,
	'large': 1024px
) !default;